*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: ivory;
    width: 100%;
}


.caloscSeat{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.containerSeat {
    height: 500px;
    width: 90%;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 10px;
}

#screenSeat{
    grid-column-start: 2;
    grid-column-end: 14;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free{
    background: black;
}

.occupied{
    background: indianred;
}

.selected{
    background: green;
}

.seat{
    height: auto;
    width: auto;
    color: white;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    cursor: pointer;
    user-select:none;
    font-weight: bold;
}

.numbCol{
    background-color: transparent;
    color: black;
    /*justify-content: flex-end;*/
    align-items: flex-end;
    cursor: default;
}

.numbRow{
    background-color: transparent;
    color: black;
    justify-content: flex-end;
    cursor: default;
}

/*-------------------------------------------------------*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 50px;

}

nav{
    flex: 1;
    text-align: center;
    display: inline-block;
    margin: auto;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    text-align:center;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align:center;

}
nav a{
    color: #000000;
    text-align:center;
}

nav a:hover{
    color: #4c4a4a;
}

a{
    text-decoration: none;
    color: #555;
    text-align:center;
}

p{
    color: #303030;
}

.container{
    width: 100%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #3700B3;
    min-width: 100px;
    margin-top: 20px;
}

.rowRepertuar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.containerRepertuarSelectDay{
    width: 100%;

    background: none;
}

.repertuarSelectDay{
    background-color: #e0e8ef;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    float: left;
    width: 5%;
    border-radius: 10%;
    text-align: center;
    font-size: 15px;
    color: black;
}

.repertuarSelectDay :hover{
    border-radius: 10%;
    background-color: #9d9c9c;
    cursor: pointer;
}

.numberOfDay{
    font-weight: bold;
}

.row .priceList{
    border: 3px solid #000000;
    padding: 20px;
}

.col-2{
    margin-top: 20px;
    min-width: 250px;
}

.col-2 img{
    max-width: 100%;
    padding: 0;
    float: right;
    max-height: 500px;
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
}

.col-2 p{
    font-size: 20px;
}

.btn{
    display: inline-block;
    background: darkorange;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #563434;
}

.headerMenu{
    width: 100%;
    background-color: darkorange;
    flex: 1;
    justify-content: space-evenly;

}

.header{
    background: #ffead8;
    color: #3700B3;
    width: 100%;
    height: 680px;
    margin: 5px 5px 5px 5px;



}

.header .col-2 img{
    margin-bottom: 40px;
    /*max-height: 450px;*/
}

.categories{
    flex: 1;
    width: 100%;
    height: auto;
    background-color: seashell;

}

.categoriesRepertuar{
    margin-top: 0;
}

.anyShows{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: darkred;
}

.toLateReservation{
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: darkred;
}

.col-3{
    flex-basis: 28%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3 img{
    width: 80%;
    margin-left: 60px;
}

.col-3:hover{
    transform:translateX(-5px) ;
}

.small-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffd4b1;

}
.smaller-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffead8;

}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}

.col-4 img{
    width: 100%;
}

.col-5{
    flex-basis: 60%;
    padding: 10px 20px 10px 40px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}


.titleBaner{
    flex-basis: 40%;
}

.col-5 img{
    width: 90%;
}



.col-5 p {
    font-size: 20px;
}
/*
.col-5:hover{
    transform:translateX(-5px) ;
}
*/

.title{
    text-align: center;
    margin: 0 auto 0;
    position: relative;
    line-height: 60px;
    color: #242424;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%) ;
}

h4{
    color: #0000ff;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
    color: #0000ff;
}

.rating .fa{
    color: darkorange;
    margin-right: 5px;
}

.col-4:hover{
    transform:translateX(-5px) ;
}


/* FOOTER */

.footer{
    background: #2510a3;
    color: white;
    font-size: 14px;
    padding: 60px 0;
    width: 100%;
    margin-left: 0;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3 ,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
    color: #ffead8;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
     width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    display: none;
}



@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 100px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align:center;

    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align:center;
    }

    nav ul li a{
        color: #fff;
        text-align:center;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

}

/*media query for less than 600 screen size*/



@media only screen and (max-width: 800px) {
    .row{
        text-align: center;
        color: #3700B3;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}

#formularz{
    margin-left: 5%;
    margin-right: 2.5%;
    float: left;
    display: block;
    margin-top: 10%;
    overflow: hidden;
}

#seatPlace{
    margin-left: 30%;
}

input {
    border: 2px solid orangered;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}
label{
    font-size: 20px;
}

table{
    width: 80%;
    margin-top: 30px;
}

td{
    text-align: center;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px;
}

.titleClosestSeans{
    font-size: 15px;
    margin-left: 60px;
    font-weight: bold;
    color: #3700B3;
}

.dateClosestSeans{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #0000ff;
}

.menu{
    font-size: 30px;
    font-weight: bold;
}

.btnSlider{
    height: 400px;
    width: 60px;
    opacity: 20%;
    background-color: #555555;
}
